﻿@inherits LayoutComponentBase

<PageTitle>PawnCAPture</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            PawnCAPture
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
