﻿@using Microsoft.AspNetCore.Components.Web
@namespace PawnCAPture.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    <link rel="icon" type="image/png" href="~/favicon-16.png"/>

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="PawnCAPture.styles.css" rel="stylesheet" />
    <link href="css/chessboard-1.0.0.css" rel="stylesheet" />



    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="js/chess.js"></script>
    <script src="js/chessboard-1.0.0.js"></script>
    <script src="js/pawncapture.js"></script>
       
</body>
</html>
