﻿@page "/"

@using Microsoft.EntityFrameworkCore
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.SignalR.Client;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using PawnCAPture.Data

@implements IDisposable

@inject ProtectedLocalStorage BrowserStorage
@inject NavigationManager NavigationManager
@inject IDbContextFactory<PawnCAPtureDatabaseContext> DbFactory
@inject IJSRuntime JS

<PageTitle>@(@_currentStatus?.Turn == "b" ? "Black" : "White") - PawnCAPture</PageTitle>

<div class="row" style="@((_currentPlayer == null ? "display: none;" : "display: block;"))">
    <div class="col-md-12">
        <div style="text-align: center">
            <div class="row">
                <div class="col-md-12" style="display: inline;">
                    <div>
                        <span>
                            <span>My Team: @_currentPlayer?.TeamNavigation?.Label</span>
                        </span>
                    </div>

                    <div id="board" style="width: 600px; display: inline-block"></div>
                    <div>
                        <span style="margin-right: 2rem;">Turn: @(@_currentStatus?.Turn == "b" ? "Black" : "White")</span>
                        <span style="margin-right: 2rem;">Check: @_currentStatus?.Check</span>
                        <span style="margin-right: 2rem;">Checkmate: @_currentStatus?.Checkmate</span>
                        <span style="margin-right: 2rem;">Draw: @_currentStatus?.Draw</span>
                        <span>Stalemate: @_currentStatus?.Stalemate</span>
                    </div>

                    @if (_currentStatus?.Checkmate == true || _currentStatus?.Draw == true || _currentStatus?.Stalemate == true)
                    {
                        <button @onclick="CreateNewGame">New Game</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (_currentPlayer == null && _pageLoaded)
{
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to PawnCAPture!</h1>
            <h2>Here are the few easy rules to the game</h2>
            <ul>
                <li>You'll be automagically added to a team to keep them balanced</li>
                <li>When its your teams turn anyone on your team may make the move</li>
                <li>At the end of a game the losing team will start the next round</li>
            </ul>
            <h3>When you're ready click Play PawnCAPture to get your team asignment!</h3>
            <button @onclick="CreateNewPlayer">Play PawnCAPture</button>
        </div>
    </div>
}

@code {
    private PawnCAPtureDatabaseContext? _context;
    private HubConnection? _hubConnection;

    private string? _turn;

    private Game? _currentGame;
    private Player? _currentPlayer;

    private DotNetObjectReference<Index>? _localReference;
    private bool _pageLoaded = false;

    private BoardStatus? _currentStatus;

    protected override async Task OnInitializedAsync()
    {
        _localReference = DotNetObjectReference.Create(this);

        _context = DbFactory.CreateDbContext();

        await SetupSignalrHub();

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SetPlayerDetails();
            await LoadCurrentGame();

            _pageLoaded = true;
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable]
    public void UpdateFen(string currentFen)
    {
        if (_context != null)
        {
            var move = new Move() { Game = _currentGame.Id, Fen = currentFen, Timestamp = DateTime.Now, Player = _currentPlayer.Id };

            _context.Add(move);
            _context.SaveChanges();

            SendBoardUpdatedAsync(currentFen);
        }

        StateHasChanged();
    }

    [JSInvokable]
    public void UpdateStatus(BoardStatus currentStatus)
    {
        _currentStatus = currentStatus;
        StateHasChanged();
    }

    public void Dispose()
    {

    }

    private async Task SetPlayerDetails()
    {
        var result = await BrowserStorage.GetAsync<string>("ExternalUserId");
        if (result.Success)
        {
            if (_context != null)
            {
                _currentPlayer = await _context.Players.Include("TeamNavigation").FirstOrDefaultAsync(player => player.ExternalUserId == result.Value);

                if (_currentPlayer == null)
                {
                    await CreateNewPlayer();
                }
            }
        }
    }

    private async Task CreateNewPlayer()
    {
        if (_context != null)
        {
            var teams = await _context.Teams.Include("Players").OrderBy(t => t.Players.Count).ToListAsync();

            var newPlayer = new Player() { ExternalUserId = Guid.NewGuid().ToString(), Team = teams[0].Id };

            await _context.AddAsync(newPlayer);
            await _context.SaveChangesAsync();

            _currentPlayer = await _context.Players.Include("TeamNavigation").FirstOrDefaultAsync(player => player.ExternalUserId == newPlayer.ExternalUserId);

            await BrowserStorage.SetAsync("ExternalUserId", newPlayer.ExternalUserId.ToString());

            await RenderBoard();
        }
    }

    private async Task CreateNewGame()
    {
        if (_context != null)
        {
            // If we are creating a new game due to the previous ending then first we need to update
            // the end date of the game that completed
            if (_currentGame != null)
            {
                _currentGame.EndDate = DateTime.Now;
                _context.Games.Update(_currentGame);
            }

            _currentGame = new Game() { StartDate = DateTime.Now, EndDate = null };

            _context.Games.Add(_currentGame);
            _context.SaveChanges();

            await RenderBoard();
            SendGameCreatedAsync();
        }
    }

    private async Task LoadCurrentGame()
    {
        if (_context != null)
        {
            _currentGame = await _context.Games.Include("Moves").FirstOrDefaultAsync(game => game.EndDate == null);

            if (_currentGame == null)
            {
                await CreateNewGame();
            }
            else
            {
                await RenderBoard();
            }
        }
    }

    private async Task SetupSignalrHub()
    {
        string baseUrl = NavigationManager.BaseUri;

        string hubUrl = baseUrl.TrimEnd('/') + PawnCAPtureHub.HubUrl;

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(hubUrl)
            .Build();

        _hubConnection.On<string>("BoardUpdated", OnBoardUpdated);
        _hubConnection.On("GameCreated", OnGameCreated);

        await _hubConnection.StartAsync();
    }

    private async void OnGameCreated()
    {
        await LoadCurrentGame();
        StateHasChanged();
    }

    private async void OnBoardUpdated(string currentFen)
    {
        await RenderBoard(currentFen);
        StateHasChanged();
    }

    private async Task RenderBoard(string? currentFen = null)
    {
        if (currentFen == null && _currentGame != null)
        {
            currentFen = _currentGame.Moves?.OrderByDescending(m => m.Timestamp).FirstOrDefault()?.Fen;
        }

        await JS.InvokeAsync<object>("renderBoard", _localReference, currentFen, _currentPlayer?.TeamNavigation.Label);
    }

    /**
     * Tell all players connected that the board has been updated
     */
    private void SendBoardUpdatedAsync(string currentFen)
    {
        if (_hubConnection != null)
        {
            _hubConnection.SendAsync("BoardUpdated", currentFen);
        }
    }

    /**
     * Tell all players connected that a new game was created
     */
    private void SendGameCreatedAsync()
    {
        if (_hubConnection != null)
        {
            _hubConnection.SendAsync("GameCreated");
        }
    }

    private async Task DisconnectAsync()
    {
        if (_hubConnection != null)
        {
            await _hubConnection.StopAsync();
            await _hubConnection.DisposeAsync();

            _hubConnection = null;
        }
    }
}
